<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286405169123-14tsnaatjeclvf6i5k9m7nsitm8qq6h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286405169123-14tsnaatjeclvf6i5k9m7nsitm8qq6h1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286405169123-nne1dbjjskkvvqffc7ih8s7pjna4ddgp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxr2z80RAHK7hVKO6DmgXWHWz2BkJt4rY</string>
	<key>GCM_SENDER_ID</key>
	<string>286405169123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeykafx.bytesizedNews.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bytesized-news</string>
	<key>STORAGE_BUCKET</key>
	<string>bytesized-news.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286405169123:ios:6ff383b1f80bff5fb21ad6</string>
</dict>
</plist>